@{
    ViewData["Title"] = "Increment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Increment</h1>
    <div>
        <span>Value of 'i' is: @ViewData["i"]</span>
        <a asp-area="" asp-controller="Home" asp-action="Increment">Increment</a>
    </div>
</div>