@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div>
        <span>Value of 'i' is: @ViewData["i"]</span>
        <a asp-area="" asp-controller="Home" asp-action="Increment">Increment</a>
    </div>
    
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
