@using ContactList.Configuration;
@using Microsoft.Extensions.Options;
@inject IOptions<HostingOptions> Options;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <div>
        <div>Hosting Provider: @ViewBag.HostingProvider</div>
        <div>Hosting Url: <a href="@ViewBag.HostingUrl">Click Here</a></div>
        <hr />
        <div>Or read from view's DI system:</div>
        <div>Hosting Provider: @Options.Value.ProviderName</div>
        <div>Hosting Url: <a href="@Options.Value.DeployUrl">Click Here</a></div>
    </div>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
